<div style="text-align: center; font-family: sans-serif; margin-top: 50px">
  <h1>Full Stack Skills App</h1>

  <input
    #newSkill
    type="text"
    placeholder="Type a skill..."
    style="padding: 10px"
  />

  <button
    (click)="addSkill(newSkill.value); newSkill.value = ''"
    style="padding: 10px; cursor: pointer"
  >
    Add to Database
  </button>

  @if (errorMessage) {
  <p style="color: red; font-weight: bold; margin-top: 10px">
    ⚠️ {{ errorMessage }}
  </p>
  }

  <hr />

  <h3>My Skills</h3>

  <ul style="list-style-type: none; padding: 0">
    @for (skill of skills; track skill.id) {
    <li
      style="
        background: #f0f0f0;
        margin: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        margin: 5px auto;
      "
    >
      <span>{{ skill.name }}</span>

      <button
        (click)="removeSkill(skill.id)"
        style="
          color: white;
          background: red;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
        "
      >
        X
      </button>
    </li>
    } @empty {
    <p>No skills found. Add one!</p>
    }
  </ul>
</div>
